html,body {
    font-family: Lato, sans-serif;
    height: 100%;

}

h1 {
    color: #111;
    font-size: 1.7vw;
    margin: 10px 0 20px 0;
    text-align: center;
    opacity: 0.9;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
}

#hide-places,#show-places {
    width: 48%;
    color: #444;
}

#header {
    opacity: 0.9;
    position: absolute;
    left: 22%;
    right: 0;
    top: 0;
    height: auto;
    background: #333;
    border-radius: 3px;
    z-index: 3;

}

#menu {
    display: inline-block;
    padding: 1vw;
    width: 7vw;
    height: 7vw;

}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;


}

.side-box {
    background: #111;
    opacity: 0.9;
    border-radius: 3px;
    line-height: 30px;
    padding: 1% 1% 1% 1%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    z-index: 2;
}

@media only screen and (max-width: 600px) {

    .side-box {
        display: none;
    }

    #header {
        left: 0;
    }

    #map {
        left: 0;
        width: 100%;

    }

}

@media only screen and (max-width: 800px) {

    h1 {
        font-size: 2.2vw;
    }
}

@media only screen and (min-width: 600px) {

    #menu {
        width: 4vw;
        height: 4vw;
        padding: 0.7vw;
    }
}

@media only screen and (min-width: 800px) {

    #menu {
        width: 3vw;
        height: 3vw;
    }
}

@media only screen and (min-width: 1000px) {

    #menu {
        width: 2vw;
        height: 2vw;
    }
}

